* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
}

/* Style the header */
.header {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  padding: 14px 16px;
  font-size: 12px;
}

/* .tab {display:flex;flex-direction:row} */

@media screen and (max-width: 600px) {
  .header,
  .tabButton,
  .contentSection {
    background-color: lightblue;
  }
}

@media screen and (max-width: 600px) {
  .tabButton {
    float: none;
    width: 100%;    
  }
}
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tabButton {
  background-color: inherit;
  float: left;
  display: block;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tabButton:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tabButton.active {
  background-color: #ccc;
}

/* Style the section content */
.contentSection {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/* Style the footer */
.footer {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #e5e5e5;
  padding: 5px 16px;
  font-size: 11px;
}
